<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GamerXperience</title>
    <link rel="shortcut icon" href="/img/bubble-light.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/addProducts.css">
    <script src="https://kit.fontawesome.com/1366794178.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet" />
</head>

<body>
    <header>
        <a href="/">
            <img id="logo" src="\img\iso-light.svg" />
        </a>
    </header>
    <main>
        <div class="productsContainer">
            <div class="addProduct"><i class="fa-solid fa-plus"></i></div>
            <div class="deleteProduct"><i class="fa-solid fa-minus"></i></div>
            <div class="descriptionContainer">
                <img class="productImage" src="<%= imagen %>">
                <p>
                    <ul class="productDescription">
                        <h2>MARCA: <%= marca %></h2>
                        <li>MODELO: <%= modelo %></li>
                        <li>TIPO: <%= tipo %></li>
                        <li>PESO: <%= peso %></li>
                        <li>DISTRIBUCION: <%= distribucion %></li>
                        <li>PRECIO: <%= precio %></li>
                    </ul>
                </p>
                <h4>Cambiar detalles<i class="fa-solid fa-arrows-spin"></i></h4>
            </div>
            <div class="descriptionContainer">
                <img class="productImage" src="<%= imagen %>">
                <p>
                    <ul class="productDescription">
                        <h2>MARCA: <%= marca %></h2>
                        <li>MODELO: <%= modelo %></li>
                        <li>TIPO: <%= tipo %></li>
                        <li>PESO: <%= peso %></li>
                        <li>DISTRIBUCION: <%= distribucion %></li>
                        <li>PRECIO: <%= precio %></li>
                    </ul>
                </p>
                <h4>Cambiar detalles<i class="fa-solid fa-arrows-spin"></i></h4>
            </div>
            <div class="descriptionContainer">
                <img class="productImage" src="<%= imagen %>">
                <p>
                    <ul class="productDescription">
                        <h2>MARCA: <%= marca %></h2>
                        <li>MODELO: <%= modelo %></li>
                        <li>TIPO: <%= tipo %></li>
                        <li>PESO: <%= peso %></li>
                        <li>DISTRIBUCION: <%= distribucion %></li>
                        <li>PRECIO: <%= precio %></li>
                    </ul>
                </p>
                <h4>Cambiar detalles<i class="fa-solid fa-arrows-spin"></i></h4>
            </div>
            <div class="descriptionContainer">
                <img class="productImage" src="<%= imagen %>">
                <p>
                    <ul class="productDescription">
                        <h2>MARCA: <%= marca %></h2>
                        <li>MODELO: <%= modelo %></li>
                        <li>TIPO: <%= tipo %></li>
                        <li>PESO: <%= peso %></li>
                        <li>DISTRIBUCION: <%= distribucion %></li>
                        <li>PRECIO: <%= precio %></li>
                    </ul>
                </p>
                <h4>Cambiar detalles<i class="fa-solid fa-arrows-spin"></i></h4>
            </div>
        </div>
    </main>
    <footer>
        <p class="copy">Copyright © 2022 GamerXperience S.R.L.</p>
        <div class="redes">
            <a href="https://youtube.com"><i class="fa-brands fa-youtube"></i> </a>
            <a href="https://instagram.com"><i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://twitter.com"><i class="fa-brands fa-twitter"></i> </a>
            <a href="https://facebook.com"><i class="fa-brands fa-facebook-f"></i>
            </a>
        </div>
    </footer>

    <script src="/js/show_hide_pw.js"></script>
</body>

</html>