<!DOCTYPE html>
<html lang="en">

<!-- HEAD  -->
<%- include('./partials/head') %>

  <body>
    <!-- HEADER -->
    <%- include('./partials/header') %>

      <main>
        <div class="slideshow-container">
          <div class="mySlides fade">
            <div class="slide-info slide-1">
              <h1>VOS LO SOÑAS</h1>
              <h2>Nosotros lo hacemos realidad.</h2>
              <a href="/users/register">
                <button type="submit">UNITE A LA FAMILIA GX</button>
              </a>
            </div>
            <div class="carrousel-imgs">
              <img src="/img/carousel_slide_1.jpg" />
            </div>
          </div>
          <div class="mySlides fade">
            <div class="slide-info slide-2">
              <h1>EQUIPATE PARA GANAR</h1>
              <a href="/products/list">
                <button type="submit">NUESTROS PRODUCTOS</button>
              </a>
            </div>
            <div class="carrousel-imgs">
              <video autoplay muted loop>
                <source src="/img/carousel_slide_2.mp4" type="video/mp4">
              </video>
            </div>
          </div>

          <div class="mySlides fade">
            <div class="slide-info slide-3">
              <h1>TECLADOS PREMIUM</h1>
              <a href="/products/list/keyboard">
                <button type="submit">CONOCELOS</button>
              </a>
            </div>
            <div class="carrousel-imgs">
              <video autoplay muted loop>
                <source src="/img/carousel_slide_3.mp4" type="video/mp4">
              </video>
            </div>
          </div>

          <div class="mySlides fade">
            <div class="slide-info slide-4">
              <h1>ESTAMOS JUNTO A TU EQUIPO</h1>
              <p>Atencion personalizada y descuentos especiales para equipos de e-sports.</p>
              <a href="/">
                <button type="submit">CONTACTANOS</button>
              </a>
            </div>
            <div class="carrousel-imgs">
              <img src="/img/carousel_slide_4.jpg" />
            </div>
          </div>
          <!-- Next and previous buttons -->
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>

          <!-- The dots/circles -->
          <div class="dot-style">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
          </div>
        </div>
        </div>
        <!-- Slideshow container -->

        <section class="ofertas">
          <h2>OFERTAS</h2>
          <% for(let i=0; i < productList.length; i++){ %>
            <% if(productList[i].offers==true){ %>
              <div class="articulo">
                <a class="img" href="/products/details/<%= productList[i].id %> ">
                <img id="producto" src=" <%= productList[i].image %> " />
                <div class="general">
                  <p class="precio">$<%= productList[i].price %>
                  </p>
                  <p class="descuento">20% OFF</p>
                  
                    <h3 class="descripcion">
                      <%= `${productList[i].brand} ${productList[i].model}` %>
                    </h3>
                  </a>
                </div>
              </div>
              <% } %>
                <% } %>
                
        </section>
        <section class="destacados">
          <h2>PRODUCTOS DESTACADOS</h2>
          <% for(let i=0; i < productList.length; i++){ %>
            <% if(productList[i].popular==true){ %>
              <div class="articulo">
                <a class="img" href="/products/details/<%= productList[i].id %> ">
                <img id="producto" src=" <%= productList[i].image %> " />
                <div class="general">
                  
                    <h3 class="descripcion">
                      <%= `${productList[i].brand} ${productList[i].model}` %>
                    </h3>
                  </a>
                </div>
              </div>
              <% } %>
                <% } %>
                  <!-- <div class="articulo">
                    <img id="producto" src="/img/product-detail/Product_Mouse_Logitech_PRO_1.webp" />
                    <div class="general">
                      <h3 class="descripcion">MOUSE LOGI</h3>
                    </div>
                  </div>
                  <div class="articulo">
                    <img id="producto" src="/img/product-detail/Product_Keyboard_Logitech_G413_1.webp" />
                    <div class="general">
                      <h3 class="descripcion">TECLADO MECÁNICO</h3>
                    </div>
                  </div>

                  <div class="articulo">
                    <img id="producto" src="/img/product-detail/Product_Headset_Logitech_G733_1.webp" />
                    <div class="general">
                      <h3 class="descripcion">AURICULARES LOL</h3>
                    </div>
                  </div> -->
        </section>

        <section class="reviews">
          <h2>RESEÑAS DE CLIENTES</h2>
          <div class="review">
            <div class="reviewer">
              <h5>Gamer123</h5>
              <p>
                "Los productos que ofrece GameExperience son de lo mejor del mercado"
              </p>
            </div>
            <img src="\img\review_2.jpg" />
          </div>
        </section>
      </main>

      <!-- FOOTER -->
      <%- include('./partials/footer') %>


  </body>

  <script defer src="/js/carrousel.js"></script>

</html>