<!DOCTYPE html>
<html lang="en">

<!-- HEAD  -->
<%- include('../partials/head') %>

<body>
     <!-- HEADER  -->
     <%- include('../partials/headerForm') %>
     <main>
        <div class="register">
            <div class="register-title">
                <h1>Bienvenido a GX</h1>
                <h1><%= user.name %></h1>
            </div>
            <div class="UserAvatar">
                <img id="Avatar" src="/img/usersAvatar/<%=user.user_avatar%>"/>
              </div>

            <form action="/users/edit?_method=PUT" method="POST" enctype="multipart/form-data">

                <div class="register-container">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" class="text-input"
                        value="<%= user.name %>"/>
                </div>

                <div class="register-container">
                    <label for="apellido">Apellido</label>
                    <input type="text" name="apellido" id="apellido" class="text-input"
                        value="<%= user.last_name %>"/>
                </div>
                
                <div class="register-container">
                    <label for="userAvatar">Imagen</label>
                    <input type="file" name="userAvatar" id="imagenProducto" value="<%= user.user_avatar %>"/>
                </div>

                <div class="btns-container">
                    <button type="submit" class="btn-crud">
                        EDITAR
                    </button>
                </div>
            </form>
        </div>
    </main>
    <!-- FOOTER -->
    <%- include('../partials/footer') %>
</body>
</html>
