<!DOCTYPE html>
<html lang="en">

<!-- HEAD  -->
<%- include('../partials/head') %>

    <body>
        <!-- HEADER  -->
        <%- include('../partials/headerForm') %>

        <main>
            <div class="register">
                <div class="register-title">
                    <h1>Bienvenido a GX,</h1>
                    <h1><%= user.name %></h1>
                </div>
                <div class="UserAvatar">
                    <img id="Avatar" src="/img/usersAvatar/<%=user.user_avatar%>"/>
                  </div>

                <form>
                    <div class="register-container">
                        <label for="name">Nombre</label>
                        <input type="text" name="name" id="nombre" class="text-input"
                            value="<%= user.name %>" disabled />

                    </div>
                    <div class="register-container">
                        <label for="surname">Apellido</label>
                        <input type="text" name="surname" id="apellido" class="text-input"
                            value="<%= user.last_name %>" disabled />
                    </div>

                    <div class="register-container">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" class="text-input" value="<%= user.email %>"
                        disabled />
                    </div>

                    <div class="register-container">
                        <label for="birthDate">Fecha de nacimiento</label>
                        <input type="text" name="birthDate" id="birthDate" class="text-input"
                            value="<%= user.birth_date %>" disabled />
                    </div>    
                    
                        </form>

                        <div class="btns-container">
                            <a href="/users/logout">
                                <button type="submit" class="btn-crud">
                                    LOGOUT
                                </button>
                            </a>
                        </div>

                        <div class="btns-container">
                            <a href="/users/edit">
                                <button type="submit" class="btn-crud">
                                    EDICIÓN
                                </button>
                            </a>
                        </div>

            </div>
            </div>
        </main>   
        
            <!-- FOOTER -->
            <%- include('../partials/footer') %>

                <script src="/js/show_hide_pw.js"></script>
    </body>

</html>
