<!DOCTYPE html>
<html lang="en">

    <!-- HEAD  -->
    <%- include('../partials/head') %>

        <body>
            <!-- HEADER  -->
            <%- include('../partials/headerForm') %>

                <main>
                    <div class="register">
                        <div class="register-title">
                            <h1>Crear Producto</h1>
                        </div>
                        <form action="/products" method="POST" enctype="multipart/form-data">
                            <div class="register-container">
                                <label for="brand_id">Marca</label>
                                <select name="brand_id" id="" class="text-input" required>
                                    <option value="" disabled selected>- Marca - </option>
                                    <% brands.forEach(brand=> { %>
                                        <option value="<%= brand.id %>">
                                            <%= brand.name %>
                                        </option>
                                        <% }); %>
                                </select>
                  
                                <label for="type_id">Tipo</label>
                                <select name="type_id" id="tipo" class="text-input" required>
                                    <option value="" disabled selected>- Tipo - </option>
                                    <% categories.forEach(category=> { %>
                                        <option value="<%= category.id %>">
                                            <%= category.name %>
                                        </option>
                                        <% }); %>
                                </select>
                            </div>
                            <div class="register-container">
                                <label for="model">Modelo</label>
                                <input type="text" name="model" id="modelo" class="text-input" required />
                            </div>
                            <div class="register-container">
                                <label for="price">Precio</label>
                                <input type="text" name="price" id="price" class="text-input" required />
                            </div>

                            <div class="register-container">
                                <label for="description">Descripción</label>
                                <input type="text" name="description" id="description" class="text-input" required />
                            </div>

                            <div>
                                <label for="offers">Oferta</label>
                                <input type="checkbox" name="offers" id="offers">
                                <label for="popular">Destacado</label>
                                <input type="checkbox" name="popular" id="popular">
                            </div>

                            <div class="register-container">
                                <label for="image">Imagen</label>
                                <input type="file" name="image" id="imagenProducto" />
                            </div>

                            <div class="btns-container">
                                <button type="submit" class="btn-crud">
                                    CREAR
                                </button>
                                <button type="reset" class="btn-crud">
                                    DESCARTAR
                                </button>
                            </div>
                        </form>

                    </div>
                    </div>
                </main>
                <!-- FOOTER -->
                <%- include('../partials/footer') %>

                    <script src="/js/show_hide_pw.js"></script>
        </body>

</html>