<!DOCTYPE html>
<html lang="en">

<!-- HEAD  -->
<%- include('../partials/head') %>

  <body>
    <!-- HEADER -->
    <%- include('../partials/header') %>
    <div class="backbtn-modifier">
      <%- include('../partials/backbtn.ejs') %>
    </div>
        <section>
          <div class="articulo">
            <img id="producto" src="/img/product-detail/<%=product.image%>"/>
          </div>
          <div class="especificaciones">
            <p class="modelo">
              <%= `${product.brands.name} ${product.model}` %>
            </p>
            <!-- <p>ESPECIFICACIONES:</p> -->
            <p>MARCA: <%= product.brands.name %>
            </p>
            <p>MODELO: <%= product.model %>
            </p>
            <P class="precio">PRECIO: $<%= product.price %>
            </P>
            <p>
              <%= `12 cuotas de $${(product.price / 12).toFixed(2)}` %>
            </p>

            <p class="description">DESCRIPCIÓN:</br>
              <%= product.description %></p>
            <button class="btn-agregar" type="submit">Agregar al carrito</button>

            <% if(locals.userLogged && locals.userLogged.dataValues.user_profile_id == 2) { %>
            <a href="/products/edit/<%=product.id%>">
            <button class="btn-edit" type="submit">Editar</button>
            </a>
            <form action="/products/delete/<%=product.id%>?_method=delete" method="POST">
            <button class="btn-delete" id="eliminar" type="submit">Eliminar</button>
            </form>
            <% } %>
          </div>

          </div>
        </section>
        <!-- FOOTER -->
        <%- include('../partials/footer') %>
  </body>

</html>