<!DOCTYPE html>
<html lang="en">

<!-- HEAD  -->
<%- include('../partials/head') %>

  <body>
    <!-- HEADER -->
    <%- include('../partials/header') %>

      <section>
        <div class="titulo">
          <H2>TECLADOS</H2>
        </div>

        <div class="articulo">

          
          <% for(let i=0; i < menu.length; i++){ %>
            <a href="./detalleMenu/<%=menu[i].id%>">
              <h4>
                <%= menu[i].titulo %>
              </h4>
            </a>
            <p class="ps-text-grey">
              <%= menu[i].descripcion %>
                <%= menu[i].price %>
            </p>
            <% } %>




            <button id="agregar" type="submit">Agregar al carrito</button>
          </div>

        </div>

      </section>

      <!-- FOOTER -->
      <%- include('../partials/footer') %>

  </body>

</html>