<!DOCTYPE html>
<html lang="en">

<!-- HEAD  -->
<%- include('../partials/head') %>

  <body>
    <!-- HEADER -->
    <%- include('../partials/header') %>
        <section class="section-Detail" id="div-cart">
          <div class="articulo-Detail">
            <img id="producto" src="/img/product-detail/<%=product.image%>"/>
          </div>
          <div class="especificaciones-Detail">
            <p class="modelo-Detail">
              <%= `${product.brands.name} ${product.model}` %>
            </p>
            <div class="detail-Container">
              <!-- <p>ESPECIFICACIONES:</p> -->
              <p class="detail-Info brand" value="<%= product.brands.name %>">MARCA: <%= product.brands.name %>.</p>
              <p class="detail-Info model" value="<%= product.model %>" >MODELO: <%= product.model %>.</p>
              <p class="detail-Description" value=" <%= product.description %>" >DESCRIPCIÓN: <%= product.description %>.</p>
            </div>
            <div class="detail-Prices">
              <p class="precio-Detail priceCart" value="<%= product.price %>">PRECIO: $<%= product.price %>
              </p>
              <p class="precio-Payments">
                <%= `12 cuotas de $${(product.price / 12).toFixed(2)}` %>
              </p>
            </div>
            <div class="detail-Cart">
              <button class="btn-agregar-Detail"  value="<%= parseInt(product.id) %>">Agregar al carrito</button>
            </div>
            <% if(locals.userLogged && locals.userLogged.dataValues.user_profile_id == 2) { %>
            <a href="/products/edit/<%=product.id%>">
            <button class="btn-edit" type="submit">Editar</button>
            </a>
            <form action="/products/delete/<%=product.id%>?_method=delete" method="POST">
            <button class="btn-delete" id="eliminar" type="submit">Eliminar</button>
            </form>
            <% } %>

        </section>
        <!-- FOOTER -->
        <%- include('../partials/footer') %>
        <script defer src="/js/burger.js"></script>
        <script defer src="/js/footer.js"></script>
        <script defer src="/js/userPanel.js"></script>
        <script defer src="/js/shop-cart.js"></script>
        

  </body>

</html>