<!DOCTYPE html>
<html lang="en">

<!-- HEAD  -->
<%- include('../partials/head') %>

  <body>
    <!-- HEADER -->
    <%- include('../partials/header') %>
        <section class="section-Detail">
          <div class="articulo-Detail">
            <img id="producto" src="/img/product-detail/<%=product.image%>"/>
          </div>
          <div class="especificaciones-Detail">
            <p class="modelo-Detail">
              <%= `${product.brands.name} ${product.model}` %>
            </p>
            <div class="detail-Container">
              <!-- <p>ESPECIFICACIONES:</p> -->
              <p class="detail-Info">MARCA: <%= product.brands.name %>.</p>
              <p class="detail-Info">MODELO: <%= product.model %>.</p>
              <p class="detail-Description">DESCRIPCIÓN: <%= product.description %>.</p>
            </div>
            <div class="detail-Prices">
              <p class="precio-Detail">PRECIO: $<%= product.price %>
              </p>
              <p class="precio-Payments">
                <%= `12 cuotas de $${(product.price / 12).toFixed(2)}` %>
              </p>
            </div>
            <div class="detail-Cart">
              <button class="btn-agregar-Detail" type="submit">Agregar al carrito</button>
            </div>
            <% if(locals.userLogged && locals.userLogged.dataValues.user_profile_id == 2) { %>
            <a href="/products/edit/<%=product.id%>">
            <button class="btn-edit" type="submit">Editar</button>
            </a>
            <form action="/products/delete/<%=product.id%>?_method=delete" method="POST">
            <button class="btn-delete" id="eliminar" type="submit">Eliminar</button>
            </form>
            <% } %>
          </div>

          </div>
        </section>
        <!-- FOOTER -->
        <%- include('../partials/footer') %>
  </body>

</html>