<!DOCTYPE html>
<html lang="en">

<!-- HEAD  -->
<%- include('../partials/head') %>

    <body>
        <!-- HEADER  -->
        <%- include('../partials/headerForm') %>

            <main>
                <div class="register">
                    <div class="register-title">
                        <h1>Modificar Producto</h1>
                    </div>
                    <form action="/products/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                        <div class="register-container">
                            <label for="brand">Marca</label>
                            <select name="brand_id" id="" class="text-input">
                                <!-- <option value="" disabled >- Marca - </option> -->
                                <% brands.forEach(brand=> { %>
                                    <%if(product.brands.name == brand.name){%>
                                            <option value="<%= brand.id %>" selected>
                                            <%= brand.name %>
                                        </option>
                                        <% }else{ %>
                                            <option value="<%= brand.id %>">
                                                <%= brand.name %>
                                            </option>
                                    <% } %>
                                    <% }) %>
                            </select>

                            <label for="category_id">Tipo</label>
                            <select name="category_id" id="tipo" class="text-input" >
                                <!-- <option value="" disabled>- Tipo - </option> -->
                                <% categories.forEach(category=> { %>
                                    <%if(product.categories.name == category.name){%>
                                            <option value="<%= category.id %>" selected>
                                            <%= category.name %>
                                        </option>
                                        <% }else{ %>
                                            <option value="<%= category.id %>">
                                                <%= category.name %>
                                            </option>
                                    <% } %>
                                    <% }) %>
                            </select>
                            <div class="register-container">
                                <label for="model">Modelo</label>
                                <input type="text" name="model" id="modelo" class="text-input" value="<%= product.model %>" />
                                <% if(locals.errors && errors.model) { %>
                                    <div class="mensajeError">
                                        <h4><%= errors.model.msg %></h4>
                                    </div>
                                <% } %>
                            </div>

                            <div class="register-container">
                                <label for="price">Precio</label>
                                <input type="text" name="price" id="price" class="text-input"
                                    value="<%= product.price %>" />
                                    <% if(locals.errors && errors.price) { %>
                                        <div class="mensajeError">
                                            <h4><%= errors.price.msg %></h4>
                                        </div>
                                    <% } %>
                            </div>

                            <div class="register-container">
                                <label for="description">Descripción</label>
                                <input type="text" name="description" id="description" class="text-input"
                                    value="<%= product.description %>" />
                                    <% if(locals.errors && errors.description) { %>
                                        <div class="mensajeError">
                                            <h4><%= errors.description.msg %></h4>
                                        </div>
                                    <% } %>
                            </div>
                            <div>
                                <label for="offers">Oferta</label>
                                <input type="checkbox" name="offers" id="offers" <% if (product.offer==true) { %>
                                checked
                                <% } %>>
                                    <label for="popular">Destacado</label>
                                    <input type="checkbox" name="popular" id="popular" <% if (product.popular==true) {
                                        %>
                                    checked
                                    <% } %>>
                            </div>

                            <div class="register-container">
                                <label for="image">Imagen</label>
                                <input type="file" name="image" id="imagenProducto" value="<%= product.image %>" />
                                <% if(locals.errors && errors.image) { %>
                                    <div class="mensajeError">
                                        <h4><%= errors.image.msg %></h4>
                                    </div>
                                <% } %>
                            </div>
                            <div class="btns-container">
                                <button type="submit" class="btn-crud">
                                    MODIFICAR
                                </button>
                                <button type="reset" name="enviar" class="btn-crud">
                                    DESCARTAR
                                </button>
                            </div>
                    </form>

                </div>
                </div>
            </main>
            <!-- FOOTER -->
            <%- include('../partials/footer') %>

                <script src="/js/show_hide_pw.js"></script>
    </body>

</html>