<!DOCTYPE html>
<html lang="en">

<!-- HEAD  -->
<%- include('../partials/head') %>

  <body>
    <!-- HEADER -->
    <%- include('../partials/header') %>
      <section>
        <div class="section-Container">
          <% for(let i=0; i < productList.length; i++){ %>
            <div class="articulo">
              <a href="/products/details/<%= productList[i].id %> ">
                <h4>
                  <%= `${productList[i].brands.name} ${productList[i].model} `%>  
                  <!-- ME FALTA PODER PONER AL LADO DEL MODELO EL TYPE, PERO COMO ES UN INT AHORA.. -->
                </h4>
              </a>
              <a class="img" href="/products/details/<%= productList[i].id %> ">
                <img src="/img/product-detail/<%= productList[i].image %>" alt="">
              </a>
              <div class="priceCart">
                <p class="precio">
                  $<%= productList[i].price %>
                </p>
                <a href="/../products/cart">
                  <button class="btn-agregar" id="agregar" type="submit">
                    Agregar al carrito
                  </button>
                </a>
              </div>
            </div>
            <% } %>
            <% if(locals.userLogged && locals.userLogged.dataValues.user_profile_id == 2) { %>
              <div class="section-Container">
                  <div class="articulo">
                    <a href="/products/create">
                      <h4>CREAR NUEVO PRODUCTO
                      </h4>
                    </a>
                    <a class="img" href="/products/create">
                      <img src="/img/add_simbol2.png" alt="">
                    </a>
                    <div class="priceCart">
                      <a href="/../products/cart">
                      </a>
                    </div>
                  </div>
                  <% } %>
                  </div>
            </div>
          </div>
      </section>
      <%- include('../partials/footer') %>
      <script defer src="/js/burger.js"></script>
      <script defer src="/js/footer.js"></script>
  </body>
</html>