<!DOCTYPE html>
<html lang="en">

<!-- HEAD  -->
<%- include('../partials/head') %>

  <body>
    <!-- HEADER -->
    <%- include('../partials/header') %>

      <section>

        <% for(let i=0; i < productList.length; i++){ %>
          <div class="articulo">
            <a href="/products/details/<%= productList[i].id %> ">
              <h4>
                <%= `${productList[i].brands.name} ${productList[i].model} `%>  
                <!-- ME FALTA PODER PONER AL LADO DEL MODELO EL TYPE, PERO COMO ES UN INT AHORA.. -->
              </h4>
            </a>
            <p class="brand" style="display: none" value="<%= productList[i].brands.name %>"></p>
            <p class="model" style="display: none" value="<%= productList[i].model %>"></p>
            <a class="img" href="/products/details/<%= productList[i].id %> ">
              <img src="/img/product-detail/<%= productList[i].image %>" alt="">
            </a>
            <div class="priceCart">
              <p>
                $<%= productList[i].price %>
              </p>
              <button class="btn-agregar" id="add-product" value="<%= productList[i].id %>">Agregar al carrito</button>
            </div>
          </div>
          <% } %>


            </div>

      </section>

      <!-- FOOTER -->
      <%- include('../partials/footer') %>
    <script src="/js/shop-cart.js"></script>

  </body>

</html>