<!DOCTYPE html>
<html lang="en">

<!-- HEAD  -->
<%- include('../partials/head') %>

  <body>
    <!-- HEADER -->
    <%- include('../partials/header') %>

      <section>
        <div class="titulo">
          <h2>TECLADOS</h2>
        </div>

        <div class="articulo">
          <% for(let i=0; i < productList.length; i++){ %>
            <a href="/products/details/<%= productList[i].id %> ">
              <h4>
                <%= `${productList[i].brand} ${productList[i].model} `%>
              </h4>
            </a>
            <p class="ps-text-grey">
              <img src="<%= productList[i].image %>" alt="">
              $<%= productList[i].price %>
            </p>
            <button id="agregar" type="submit">Agregar al carrito</button>
            <% } %>
        </div>

        </div>

      </section>

      <!-- FOOTER -->
      <%- include('../partials/footer') %>

  </body>

</html>